* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #root {
    text-align: center;
    /* width: 90%; */
    margin: auto;
    background-color: rgb(242, 225, 248);
  }
  .CardActivity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    row-gap: 20px;
    padding: 2%;
  }
  
  h1 {
    border: 2px solid rgb(197, 64, 250);
    padding: 2%;
  }
  
  img {
    height: 100px;
    margin: auto;
  }
  
  .icons {
    justify-content: center;
  }
  .icons img {
    height: 32px;
  }
  .CardList {
    border: 1px solid rgb(77, 46, 46);
    margin: auto;
    text-align: center;
    width: 90%;
    height: 100%;
    line-height: 30px;
    border-radius: 3%;
  }  
  
  button{
    background-color: rgb(66, 66, 233);
    margin-left: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
input, select{
  border: none;
  border-bottom: 2px solid pink;
  padding: 12px 20px;
  margin: 5px 0;
  width: 300px;
}
  form{
    width:500px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color: rgb(242, 225, 248);
   text-align: center;
  }
  
  form label{
    font-weight:bold;
    font-size: large;
    display:block;
  }
#Close{
  float: right;
}

#mybutton{
  margin-top: 7px;
}

.error {
  display: block;
  color: red;
  font-style: italic;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
button:disabled {
  background-color: #ba9ef0;
}

.cardTaskList{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
}

strong{
  margin-right: 4px;
}